<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2025 Ticpass. All rights reserved.
  ~
  ~ PROPRIETARY AND CONFIDENTIAL
  ~
  ~ This software is the confidential and proprietary information of Ticpass
  ~ ("Confidential Information"). You shall not disclose such Confidential Information
  ~ and shall use it only in accordance with the terms of the license agreement you
  ~ entered into with Ticpass.
  ~
  ~ Unauthorized copying, distribution, or use of this software, via any medium,
  ~ is strictly prohibited without the express written permission of Ticpass.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- does NOT_AUTHORIZED_BY_ACQUIRER require requesting during execution time -->
    <uses-permission android:name="br.com.uol.pagseguro.permission.MANAGE_PAYMENTS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" tools:node="remove" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" tools:node="remove" />
    <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="remove" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" tools:node="remove" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:node="remove" />
    <uses-permission android:name="android.permission.REBOOT" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" tools:node="remove" />

    <application
        android:name="br.com.ticpass.pos.MainApplication"
        android:label="@string/app_name"
        tools:replace="android:label"
        android:icon="@mipmap/ic_launcher"
    >

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="br.com.uol.pagseguro.PAYMENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <nav-graph android:value="@navigation/mobile_navigation" />
        </activity>

        <activity
            android:name="br.com.ticpass.pos.payment.PaymentProcessingActivity"
            android:exported="true"/>

        <activity
            android:name="br.com.ticpass.pos.printing.PrintingActivity"
            android:exported="true"/>

        <activity
            android:name="br.com.ticpass.pos.refund.RefundActivity"
            android:exported="true"/>
    </application>
</manifest>
