<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2025 Ticpass. All rights reserved.
  ~
  ~ PROPRIETARY AND CONFIDENTIAL
  ~
  ~ This software is the confidential and proprietary information of Ticpass
  ~ ("Confidential Information"). You shall not disclose such Confidential Information
  ~ and shall use it only in accordance with the terms of the license agreement you
  ~ entered into with Ticpass.
  ~
  ~ Unauthorized copying, distribution, or use of this software, via any medium,
  ~ is strictly prohibited without the express written permission of Ticpass.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <uses-sdk tools:overrideLibrary="rikka.shizuku.api, rikka.shizuku.provider, rikka.shizuku.shared, rikka.shizuku.aidl" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-permission android:name="android.permission.ENFORCE_UPDATE_OWNERSHIP" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />

    <uses-feature
        android:name="android.software.device_admin"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="br.com.ticpass.pos.MainApplication"
        android:allowBackup="true"
        android:banner="@drawable/ic_tv_banner"
        android:dataExtractionRules="@xml/backup_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules_legacy"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu"
        >

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />

        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.ui.permissions.PermissionsActivity"
            android:exported="false"/>

        <activity
            android:name=".data.activity.MenuActivity"
            android:exported="false"
        />
        <activity android:name=".view.ui.login.LoginScreen"/>
        <activity
            android:name=".data.activity.QrScannerActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|screenSize"
            tools:ignore="DiscouragedApi,Instantiatable" />

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="br.com.ticpass.pos.payment.PaymentProcessingActivity"
            android:exported="true"/>

        <activity
            android:name="br.com.ticpass.pos.printing.PrintingActivity"
            android:exported="true"/>

        <activity
            android:name="br.com.ticpass.pos.refund.RefundActivity"
            android:exported="true"/>

        <activity
            android:name="br.com.ticpass.pos.nfc.NFCActivity"
            android:exported="true"/>
        <activity android:name=".view.ui.login.PosScreen" />
        <activity
            android:name="br.com.ticpass.pos.view.ui.login.ConfirmScreen"
            android:exported="false" />

        <activity android:name=".data.activity.ProductsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.ui.shoppingCart.ShoppingCartScreen" />

        <activity android:name=".view.ui.payment.PaymentScreen" />

        <activity
            android:name=".data.activity.HistoryActivity"
            android:exported="false" />

        <activity
            android:name=".data.activity.VoucherActivity"
            android:exported="false" />

        <activity
            android:name=".data.activity.RefundActivity"
            android:exported="false" />

        <activity
            android:name=".data.activity.ReportActivity"
            android:exported="false" />

        <activity
            android:name=".data.activity.PassesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".data.activity.WithdrawalActivity"
            android:exported="false"
            android:label="Sangria" />

        <activity
            android:name=".data.activity.SupportActivity"
            android:exported="false"
            android:label="Fale conosco" />

        <activity
            android:name=".data.activity.SettingsActivity"
            android:exported="false"
            android:label="Configurações" />

        <activity
            android:name=".data.activity.SplitEqualActivity"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".data.activity.SplitManualActivity"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".data.activity.ConfigMenuProductsActivity"
            android:theme="@style/FullscreenTheme"
        />


        <meta-data
            android:name="androidx.work.WorkManagerInitializer"
            android:value="androidx.startup"
            tools:node="remove" />


    </application>

</manifest>
